*
!.bashrc
!.config
!.config/btop
!.config/btop/btop.conf
!.config/i3
!.config/i3/config
!.config/k9s
!.config/k9s/aliases.yaml
!.config/k9s/config.yaml
!.config/kitty
!.config/kitty/kitty.desktop.conf
!.config/kitty/kitty.laptop.conf
!.config/neofetch
!.config/neofetch/config.conf
!.config/nvim
!.config/nvim/**
!.config/picom
!.config/picom/picom.conf
!.config/wallpapers
!.config/wallpapers/**
!.dmrc
!.githooks
!.githooks/post-checkout
!.gitconfig
!.gitignore
!.install.sh
!.ssh
!.ssh/config
!.tmux.conf
!.xinitrc
!README.md
