*
!.bashrc
!.config
!.config/alacritty
!.config/alacritty/alacritty.yml
!.config/alacritty/alacritty.toml
!.config/distrobox
!.config/distrobox/distrobox.conf
!.config/gtk-3.0
!.config/gtk-3.0/settings.ini
!.config/k9s
!.config/k9s/aliases.yaml
!.config/k9s/config.yaml
!.config/k9s/skins
!.config/k9s/skins/theme.yaml
!.config/nvim
!.config/nvim/**
!.config/rofi
!.config/rofi/config.desktop.rasi
!.config/rofi/config.laptop.rasi
!.config/sway
!.config/sway/config
!.config/wallpapers
!.config/wallpapers/**
!.gitconfig
!.gitignore
!.install.sh
!.ssh
!.ssh/config
!.tmux.conf
!README.md
