*
!.bashrc
!.config
!.config/btop
!.config/btop/btop.conf
!.config/distrobox
!.config/distrobox/distrobox.conf
!.config/i3
!.config/i3/config.desktop
!.config/i3/config.laptop
!.config/k9s
!.config/k9s/aliases.yaml
!.config/k9s/config.yaml
!.config/k9s/skins
!.config/k9s/skins/theme.yaml
!.config/kitty
!.config/kitty/kitty.desktop.conf
!.config/kitty/kitty.laptop.conf
!.config/neofetch
!.config/neofetch/config.conf
!.config/nvim
!.config/nvim/**
!.config/picom
!.config/picom/picom.conf
!.config/polybar
!.config/polybar/config.desktop.ini
!.config/polybar/config.laptop.ini
!.config/polybar/launch.desktop.sh
!.config/polybar/launch.laptop.sh
!.config/rofi
!.config/rofi/config.desktop.rasi
!.config/rofi/config.laptop.rasi
!.config/wallpapers
!.config/wallpapers/**
!.dmrc
!.githooks
!.githooks/post-checkout
!.gitconfig
!.gitignore
!.install.sh
!.minikube
!.minikube/config
!.minikube/config/config.json
!.ssh
!.ssh/config
!.tmux.conf
!.xinitrc
!.Xresources.laptop
!README.md
